[phases.setup]
nixPkgs = ["nodejs_20", "chromium"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
  "npx prisma generate",
  "DATABASE_URL=postgresql://dummy:dummy@localhost:5432/dummy npx vinxi build"
]

[start]
cmd = "npm run start"